@import "src/styles/variables";
@import "src/styles/colors";
@import "src/styles/breakpoints";

.inputWrapper {
  font-family: $Yantramanav;
}

.input {
  height: $inputHeight;
  width: 100%;
  font-size: $inputFontSize;
  padding: 0 10px;
  color: $gray;
  border-radius: $borderRadiusSmall;
  background: $white;
  font-weight: $fontWeightNormal;

  ::placeholder {
    color: $gray-muted;
  }

  @include large {
    font-size: 12px;
    height: 35px;
  }
}
