@import "src/styles/variables";
@import "src/styles/colors";
@import "src/styles/breakpoints";

.stars {
  font-family: $Yantramanav;
  font-size: 9px;
  font-weight: $fontWeightMedium;
  color: $gray;
  display: flex;
  align-items: self-end;

  @include large {
    font-size: 12px;
  }

  &.isLarge {
    font-size: 20px;
    color: $gray-muted;

    @include large {
      font-size: 14px;
      color: $gray;
    }

    .icon {
      font-size: $starSizeLarge;

      @include large {
        font-size: 20px;
      }
    }
  }

  .icon {
    font-size: $starSize;
    margin-right: 5px;
  }
}
