@import "src/styles/variables";
@import "src/styles/breakpoints";
@import "src/styles/colors";
@import "src/styles/mixins";

.button {
  @include flexCenter;

  text-transform: uppercase;
  border-radius: $borderRadiusSmall;
  letter-spacing: $letterSpacingSmall;

  &:disabled {
    opacity: .7;
    cursor: not-allowed;
  }

  &:hover {
    filter: contrast(1.5);
    cursor: pointer;
  }

  &-l1 {
    width: $buttonLevel1Width;
    height: $buttonLevel1Height;
    background: $gray;
    color: $light;
    font-size: $buttonLevel1FontSize;

    @include medium {
      width: 200px;
      height: 50px;
      font-size: 16px;
    }
  }

  &-l3 {
    text-transform: lowercase;
    color: $gray-muted;
    //width: $buttonLevel1Width;
    //height: $buttonLevel1Height;
    //background: $gray;
    //color: $light;
    //font-size: $buttonLevel1FontSize;

    @include medium {
      //width: 200px;
      //height: 50px;
      //font-size: 16px;
    }

    & * {
      color: $gray-muted;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .icon {
    margin-left: 5px;
    display: block;
  }
}

