@import "src/styles/variables";
@import "src/styles/breakpoints";
@import "src/styles/colors";
@import "src/styles/mixins";

.button {
  @include flexCenter;

  text-transform: uppercase;
  border-radius: $borderRadiusSmall;
  letter-spacing: $letterSpacingSmall;

  &:disabled {
    opacity: .7;
    cursor: not-allowed;
  }

  &:hover {
    @include hover;
  }

  &-l1 {
    width: $buttonLevel1Width;
    height: $buttonLevel1Height;
    background: $gray;
    color: $light;
    font-size: $buttonLevel1FontSize;

    @include large {
      width: 200px;
      height: 50px;
      font-size: 16px;
    }

    .icon {
      @include flexCenter;
      margin-left: 10px;
      font-size: 18px;
    }
  }

  &-l2 {
    width: $buttonLevel2Width;
    height: $buttonLevel2Height;
    background: $gray;
    color: $light;
    font-size: $buttonLevel2FontSize;

    @include large {
      width: 90px;
      height: 30px;
      font-size: 12px;
    }
  }

  &-l3 {
    text-transform: lowercase;
    color: $gray-muted;
    font-size: $buttonLevel3FontSize;
    font-weight: $fontWeightNormal;

    @include large {
      font-size: 14px;
    }

    & * {
      color: $gray-muted;
    }

    &:hover {
      text-decoration: underline;
    }

    .icon {
      margin-left: 5px;
      display: block;
    }
  }
}

