@import "src/styles/variables";
@import "src/styles/colors";
@import "src/styles/mixins";

$heartIconSize: 35px;

.heartButton {
  @include flexCenter;

  width: $heartButtonSize;
  height: $heartButtonSize;
  background: $white;
  border-radius: $borderRadiusSmall;
  cursor: pointer;

  .icon {
    color: $yellow;
    font-size: $heartIconSize;
  }
}
