@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @content;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  @content;
}

@mixin hover {
  filter: contrast(1.3);
  cursor: pointer;
  @content;
}
