@import "src/styles/variables";
@import "src/styles/colors";
@import "src/styles/breakpoints";

.wrapper {
  display: flex;
  flex-direction: column;
  font-family: $Yantramanav;
}

.select {
  height: $inputHeight;
  width: 180px;
  color: $gray;
  border-radius: $borderRadiusSmall;
  background: $white;
  font-weight: $fontWeightNormal;
  padding: 0 10px;
}
