@import "src/styles/variables";
@import "src/styles/breakpoints";
@import "src/styles/colors";
@import "src/styles/mixins";

.searchWrapper {
  position: relative;
  width: 335px;

  @include large {
    width: 415px;
  }
}

.isActive {
  .iconBtnZoom {
    position: absolute;
    left: 0;
  }

  .searchInput {
    padding-left: $inputSearchHeight;
  }
}

.searchInput {
  height: $inputSearchHeight;
  font-size: 14px;
}

.iconBtn {
  @include flexCenter;

  position: absolute;
  right: 0;
  top: 0;
  width: $inputSearchHeight;
  height: 100%;
  cursor: pointer;

  .icon {
    font-size: 20px;
    color: $gray-muted;
  }
}
