@import "./src/styles/fonts";
@import "./src/styles/breakpoints";
@import "./src/styles/colors";

.heading {
  font-weight: 700;
  font-family: $SourceSerifPro;
  color: $gray;

  &-h1 {
    @include medium {
    //
    }
  }

  &-h2 {
    color: green;
  }

  &-h3 {
    color: green;
  }

  &-h4 {
    color: green;
  }

  &-h5 {
    color: green;
  }

  &-h6 {
    color: green;
  }
}


