@import "src/styles/variables";
@import "src/styles/colors";
@import "src/styles/breakpoints";

.heading {
  font-weight: $fontWeightBold;
  font-family: $SourceSerifPro;
  color: $gray;

  &-h1 {
    font-family: $Yantramanav;
    font-size: $headingH1;
    text-transform: uppercase;
  }

  &-h2 {
    font-size: $headingH2;
    @include medium {
      font-size: 36px;
    }
  }
}


