@import "src/styles/variables";
@import "src/styles/colors";
@import "src/styles/breakpoints";

.heading {
  font-weight: $fontWeightBold;
  font-family: $Yantramanav;
  color: $gray;

  &-h1 {
    font-size: $headingH1;
    text-transform: uppercase;
  }

  &-h2 {
    font-size: $headingH2;
    font-family: $SourceSerifPro;
    @include large {
      font-size: 36px;
    }
  }

  &-h3 {
    font-size: $headingH3;
    @include large {
      font-size: 18px;
    }
  }

  &-h4 {
    font-size: $headingH4;
  }
}


