@import "src/styles/variables";
@import "src/styles/colors";
@import "src/styles/mixins";

$heartIconSize: 25px;

.iconButton {
  @include flexCenter;

  width: $heartButtonSize;
  height: $heartButtonSize;
  background: $white;
  border-radius: $borderRadiusSmall;

  &:hover {
    @include hover;
  }

  .icon {
    font-size: $heartIconSize;
    color: $gray;

    &.yellow {
      color: $yellow;
    }
  }
}
